.head {
	background: orange;
	color: black;
	padding: 50px;
}
.rem {
	border: solid red 3px;
	padding: 10px;
	font-size: 300%;
	color: black;
	margin: 30px;
}
.ap {
	border: solid red 3px;
	padding: 10px;
	padding-top: 125px;
	font-size: 300%;
	color: black;
	margin: 30px;
	text-align: center;
}
.button {
	margin: 30px;
}

#lucky_numbers {
	background-color: pink;
}
.ls {
	background-color: aqua;
	font-size: 300%;
	color: blue;
	border: solid black 2px;
	padding: 50px;

}
.bilietas {
	background-color: pink;
	margin: 20px;
	border: solid blue 5px;
	font-size: 200%;
}